<div class="activity-body">
    <h5 class="activity-title">Actividad Reciente <span>ver todo</span></h5>
    <div class="activity-list">
        <div class="activity-list-item ic-circle-gray">
            <span class="activity-item-time">Hace [time]</span>
            <h5 class="activity-item-title"><strong>Username</strong> ha [status] la [content_type] de [client_name]
            </h5>
            <span class="activity-item-res-time">Tiempo de respuesta, 20 minutos</span>
        </div>
        <div class="activity-list-item ic-circle-dark">
            <span class="activity-item-time">Hace 13 minutos</span>
            <h5 class="activity-item-title"><strong>Francisco M.</strong> ha leído Sugerencia de Nichole Swanstaiger
            </h5>
            <span class="activity-item-res-time">Tiempo de respuesta, 20 minutos</span>
        </div>
        <div class="activity-list-item ic-circle-red">
            <span class="activity-item-time">Hace 20 minutos</span>
            <h5 class="activity-item-title"><strong>Alvaro S.</strong> ha aceptado</h5>
            <span class="activity-item-res-time">Tiempo de respuesta, 1 hora</span>
        </div>
        <div class="activity-list-item ic-circle-yellow">
            <span class="activity-item-time">Hace 13 minutos</span>
            <h5 class="activity-item-title"><strong>Francisco M.</strong> ha leído Sugerencia de Nichole Swanstaiger
            </h5>
            <span class="activity-item-res-time">Tiempo de respuesta, 20 minutos</span>
        </div>
        <div class="activity-list-item ic-circle-gray">
            <span class="activity-item-time">Hace [time]</span>
            <h5 class="activity-item-title"><strong>Username</strong> ha [status] la [content_type] de [client_name]
            </h5>
            <span class="activity-item-res-time">Tiempo de respuesta, 20 minutos</span>
        </div>
        <div class="activity-list-item ic-circle-dark">
            <span class="activity-item-time">Hace 13 minutos</span>
            <h5 class="activity-item-title"><strong>Francisco M.</strong> ha leído Sugerencia de Nichole Swanstaiger
            </h5>
            <span class="activity-item-res-time">Tiempo de respuesta, 20 minutos</span>
        </div>
        <div class="activity-list-item ic-circle-red">
            <span class="activity-item-time">Hace 20 minutos</span>
            <h5 class="activity-item-title"><strong>Alvaro S.</strong> ha aceptado la Incidencia de Alejandra Vieira
            </h5>
            <span class="activity-item-res-time">Tiempo de respuesta, 1 hora</span>
        </div>
        <div class="activity-list-item ic-circle-yellow">
            <span class="activity-item-time">Hace 13 minutos</span>
            <h5 class="activity-item-title"><strong>Francisco M.</strong></h5>
            <span class="activity-item-res-time">Tiempo de respuesta, 20 minutos</span>
        </div>
        <div class="activity-list-item ic-circle-gray">
            <span class="activity-item-time">Hace [time]</span>
            <h5 class="activity-item-title"><strong>Username</strong> ha [status] la [content_type] de [client_name]
            </h5>
            <span class="activity-item-res-time">Tiempo de respuesta, 20 minutos</span>
        </div>
        <div class="activity-list-item ic-circle-dark">
            <span class="activity-item-time">Hace 13 minutos</span>
            <h5 class="activity-item-title"><strong>Francisco M.</strong> ha leído Sugerencia de Nichole Swanstaiger
            </h5>
            <span class="activity-item-res-time">Tiempo de respuesta, 20 minutos</span>
        </div>
        <div class="activity-list-item ic-circle-red">
            <span class="activity-item-time">Hace 20 minutos</span>
            <h5 class="activity-item-title"><strong>Alvaro S.</strong> ha aceptado la Incidencia de Alejandra Vieira
            </h5>
            <span class="activity-item-res-time">Tiempo de respuesta, 1 hora</span>
        </div>
        <div class="activity-list-item ic-circle-yellow">
            <span class="activity-item-time">Hace 13 minutos</span>
            <h5 class="activity-item-title"><strong>Francisco M.</strong> ha leído Sugerencia de Nichole Swanstaiger
            </h5>
            <span class="activity-item-res-time">Tiempo de respuesta, 20 minutos</span>
        </div>
    </div>
</div>