@import "variables.scss";
/* login screen */

.auth-body{
    position: relative;
}
.auth-wrapper{
    width: 380px;
    margin: 11% auto;  
}
.auth-logo{
    text-align: center;
    font-weight: $font-weight-light;
    margin-bottom: 20px;
}
.auth-title{
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
    font-size: $font-size-large;
}
.auth-link{
    margin: 10px 0;
    text-align: right;
} 