@import 'variables.scss';

@mixin placeholder-text-opacity($color, $opacity: 0.3) {
    color: rgba($color, $opacity);
}

@mixin padding($values...) {
    @each $var in $values {
        padding: #{$var};
    }
}