@import "variables.scss";

.ngx-pagination /deep/ {
  margin-left: 0;
  margin-bottom: 1rem;
  li {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-right: 0.0625rem;
    border-radius: 0;
    display: inline-block;
  }
  a, button {
    color: $primary-color;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;

    &:hover {
      background: #e6e6e6;
    }
  }

  .current {
    padding: 0.1875rem 0.625rem;
    background: $primary-color;
    color: $light;
    cursor: default;
  }

}