@import "variables.scss";
@import "mixin.scss";

::-webkit-scrollbar {
  height: 0;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  -webkit-border-radius: 10px;
  height: 100px;
}

::-webkit-scrollbar-corner {
  background: #000;
}

body {
  background-color: $background-color;
  font-family: $font-family;
  font-size: $font-size-base;
  color: $base-color;
}

h1, h2, h3, h4, h5 {
  font-weight: $font-weight-light;
  color: $primary-color;
  display: block;
}

a {
  color: $link-color;
}

a:hover, a:focus {
  text-decoration: $link-hover-text-decoration;
  color: $link-hover-color;
}

.pointer {
  cursor: pointer;
}

.form-control {
  border: none;
  font-size: $input-font-size;
  color: $input-text-color;
  @include padding(0.5rem 1.2rem);
  margin-bottom: 20px;
  border-radius: $input-radius;
  background-color: $input-bg;
  line-height: $input-height-large;
}

/* Error Helper Classes */

/*for valid entry : ng-invalid non-valid: entry :ng-valid*/

.form-control.ng-dirty.ng-invalid {
  background-color: lighten($input-danger-color, 35%);
}

.form-control.ng-dirty.ng-invalid:focus {
  background-color: lighten($input-danger-color, 35%);
}

.ng-dirty.ng-invalid.input-group-addon {
  color: $input-danger-color;
  background-color: #f2dede;
}

.ng-invalid.ng-dirty.form-control-feedback {
  color: $input-danger-color;
}

.input-sm {
  height: 40px;
}

.model-input-search {
  height: 40px;
  border-radius: 5px;
  border: solid 1px #dcdcdd;
  font-size: 14px;
  font-weight: $font-weight-regular;
  line-height: 1;
  background: transparent;
}

input.form-control:focus {
  background: $input-bg-focus;
}

.btn-dark {
  background-color: $primary-color;
  border-radius: $input-radius-9;
  font-size: $button-large-font-size;
  font-weight: $font-weight-medium;
  color: $light;
  height: $button-height-large;
}

.btn-accent {
  background-color: $accent-color;
  border-radius: $input-radius;
  font-size: $input-font-size;
  font-weight: $font-weight-regular;
  color: $light;
  height: $button-height-base;
  line-height: 0.78;
}

.btn-cus-outline {
  background: transparent;
  font-size: 12px;
  line-height: 1.17;
  color: #999999;
  border: solid 1px #dcdcdd;
  border-radius: $input-radius-9;
  height: $button-height-base;
}

.btn {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.btn-disable {
  opacity: 0.6;
}

.btn-outline {
  background: transparent;
  font-size: $button-font-size;
  color: $primary-color;
  font-weight: $font-weight-regular;
  border: solid 1px $primary-color;
  border-radius: $input-radius;
  height: $button-height-base;
  font-family: $font-family;
}
.btn-large{
  height: $button-height-medium;
}

:focus, .form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent;
}

select option {
  background: lighten($primary-color, 7%);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

button {
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

.bg-dark {
  color: #fff;
  background: $primary-color;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 0.5s ease-out;
}

.no-padding {
  padding: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-left {
  padding-left: 0;
}

no-margin {
  margin: 0;
}

no-margin-top {
  margin-top: 0;
}

no-margin-right {
  margin-right: 0;
}

no-margin-bottom {
  margin-bottom: 0;
}

no-margin-left {
  margin-left: 0;
}

.m-t-b-20 {
  margin: 20px 0;
}

.dis-table {
  display: table;
  height: 100%;
  width: 100%;
}

.ver-middle {
  display: table-cell;
  vertical-align: middle;
}

::-webkit-input-placeholder {
  color: $secondary-color;
  opacity: 0.3 !important;
}

::-moz-placeholder {
  color: $secondary-color;
  opacity: 0.3 !important;
}

:-ms-input-placeholder {
  color: $secondary-color;
  opacity: 0.3 !important;
}

:placeholder {
  color: $secondary-color;
  opacity: 0.3 !important;
}

.filter-input {
  ::-webkit-input-placeholder {
    color: #999999 !important;
    opacity: 1 !important;
    font-weight: $font-weight-light !important;
    font-family: $font-family;
  }
  ::-moz-placeholder {
    color: #999999 !important;
    opacity: 1 !important;
    font-weight: $font-weight-light !important;
    font-family: $font-family;
  }
  :-ms-input-placeholder {
    color: #999999 !important;
    opacity: 1 !important;
    font-weight: $font-weight-light !important;
    font-family: $font-family;
  }
  :placeholder {
    color: #999999 !important;
    opacity: 1 !important;
    font-weight: $font-weight-light !important;
    font-family: $font-family;
  }
}
.dropdown-right{
  right: -3px;
  left: inherit;
  top: 25px;
}