@media (max-width: 767px) {
    .auth-wrapper{
        width: 90%;
        margin-top: 20px;
    }
}
@media (min-width: 992px){
    .container{
        width: 903px;
    }
    .modal-lg {
        max-width: 1000px;
    }
}