
// Colors
// -------------------------------
$light: #fff;
$dark:  #333;
$primary-color:     #363d4a;
$secondary-color: darken($primary-color,3.8%);
$accent-color: #8a36d8;
$nav-icon-circle: lighten($accent-color, 18%);
$menu-icon-color:   lighten($primary-color, 25%);
$menu-active-bg: rgba($light, 0.1);
$menu-list-color: #656b77;
$menu-list-border: darken($menu-list-color, 16%);
/*$menu-active-bg: rgba(#F9F9F9, 0.1);*/

// Base
// -------------------------------
$background-color:                #f4f5f7;
$font-family:                     'Rubik', sans-serif;
$base-color:                      #2d323f;

$link-color: $base-color;
/*$link-hover-color:  lighten($link-color,25%);*/
$link-hover-color:  $accent-color;
$link-hover-text-decoration: none;

$font-size-base:                  15px;
$font-size-large:                 24px;
$font-size-x-large:               28px;
$font-size-small:                 11px;
$font-size-x-small:               10px;

$font-weight-light:                300;
$font-weight-bold:                 700;
$font-weight-medium:               600;
$font-weight-regular:              500;
$font-weight-normal:               400;

$line-height-base:                1.29;
$line-height-large:               1.39;
$line-height-small:               1.14;

$border-radius-small:             4px;
$border-radius-base:              5px;
$border-radius-large:             6px;

// Buttons
// -------------------------------

$button-font-size:                16px;
$button-height:                   42px;
$button-padding:                  12px;

$button-large-font-size:          24px;
$button-large-height:             54px;
$button-large-padding:            16px;

$button-small-font-size:          1px;
$button-small-height:             28px;
$button-small-padding:            4px;

$button-bg:                       $primary-color;
$button-text:                     $light;

$button-height-base: 40px;
$button-height-medium: 50px;
$button-height-large: 60px;

// Forms
// -------------------------------

$input-height-base:               1;
$input-height-large:              2;
$input-height-small:              0.8;
$input-bg:                        #eaedf2;
$input-bg-focus: lighten($input-bg, 5%);
$input-radius:                    5px;
$input-radius-9:                    9px;
$input-font-size:                 18px;
$input-text-color:                #2d323f;
$input-label-color:               $primary-color;
$input-color-placeholder:         $primary-color;
$input-danger-color:              #a94442;