<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <h2 class="header-title">Contratación</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="row d-block text-right">
            <!--<p class="d-block"><a href="javascript:;" class="text-right">Abrir Filtros <i class=""><object data="img/svg/ic-openpanel.svg" type="image/svg+xml"></object></i></a>   </p>-->
            <button type="button" class="btn btn-openpanel">Abrir Filtros <i class="ic-openpanel">
              <img src="../../../../../assets/img/svg/ic-openpanel.svg" />
            </i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="container">
    <div class="row d-block">
      <h3 class="contact-body-title title-padding-40">Tu periodo de contratación es del: 01/04/2017 al 01/04/2018</h3>
    </div>
  </div>
  <div class="container">
    <div class="recruitment-box row">
      <div class="col-12 col-lg-4 col-md-4 col-sm-4 box-item">
        <div class="col">
          <h3>Oficinas</h3>
        </div>
        <div class="row req-box-row">
          <div class="col-lg-6">
            <span class="label-first">Contratadas</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-second">100</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-third">100%</span>
          </div>
        </div>
        <div class="row req-box-row">
          <div class="col-lg-6">
            <span class="label-first">En uso</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-second">90</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-third">90%</span>
          </div>
        </div>
        <div class="row req-box-row">
          <div class="col-lg-6">
            <span class="label-first">Disponibles</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-second">10</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-third">10%</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-4 col-sm-4 box-item">
        <div class="col">
          <h3>Managers</h3>
        </div>
        <div class="row req-box-row">
          <div class="col-lg-6">
            <span class="label-first">Contratados</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-second">100</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-third">100%</span>
          </div>
        </div>
        <div class="row req-box-row">
          <div class="col-lg-6">
            <span class="label-first">En uso</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-second">90</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-third">90%</span>
          </div>
        </div>
        <div class="row req-box-row">
          <div class="col-lg-6">
            <span class="label-first">Disponibles</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-second">10</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-third">10%</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-4 col-sm-4 box-item">
        <div class="col">
          <h3>Agentes</h3>
        </div>
        <div class="row req-box-row">
          <div class="col-lg-6">
            <span class="label-first">Contratadas</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-second">100</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-third">100%</span>
          </div>
        </div>
        <div class="row req-box-row">
          <div class="col-lg-6">
            <span class="label-first">En uso</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-second">90</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-third">90%</span>
          </div>
        </div>
        <div class="row req-box-row">
          <div class="col-lg-6">
            <span class="label-first">Disponibles</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-second">10</span>
          </div>
          <div class="col-lg-3 text-right">
            <span class="label-third">10%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>