<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h2 class="header-title">Valoraciones</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="row d-block text-right">
            <!--<p class="d-block"><a href="javascript:;" class="text-right">Abrir Filtros <i class=""><object data="img/svg/ic-openpanel.svg" type="image/svg+xml"></object></i></a>   </p>-->
            <button type="button" class="btn btn-openpanel">Abrir Filtros <i class="ic-openpanel">
              <img src="../../../../../assets/img/svg/ic-openpanel.svg"/>
            </i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="padding-40">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="contact-body-title">Agregar valoraciones</h3>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="form-section">
        <form>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="row d-block">
              <div class="form-group">
                <div class="form-pro-pics">
                  <div class="dis-table">
                    <div class="ver-middle">
                      <img id="insert-pro-pics" src="../../../../../assets/img/logo.png" class="rounded mx-auto d-block"
                           alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Agregar Tags</label>
                  <div class="input-group cus-input-group">
                    <input type="text" class="form-control" placeholder="Asignar oficina">
                    <span class="input-group-btn bg-dark">
                                                            <button class="btn bg-dark" type="button">+</button>
                                                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label class="d-block">Asignar oficina</label>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-control">
                      <label class="custom-control custom-radio">
                        <input id="radio1" name="radio" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Empleado</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-control">
                      <label class="custom-control custom-radio">
                        <input id="radio2" name="radio" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Servicio</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Asignar oficina</label>
                  <div data-toggle="modal" data-target=".model-add-office-manager" class="input-group cus-input-group">
                    <input type="text" class="form-control" placeholder="Asignar oficina">
                    <span class="input-group-btn bg-dark">
                                                            <button class="btn bg-dark" type="button">+</button>
                                                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 offset-lg-3 offset-md-3 offset-sm-3">
              <div class="d-block">
                <div class="form-group">
                  <button type="submit" class="btn btn-block btn-dark m-t-b-20" name="submit">Agregar Valoración
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>