<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <h2 class="header-title">Valoraciones</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="row d-block text-right">
            <!--<p class="d-block"><a href="javascript:;" class="text-right">Abrir Filtros <i class=""><object data="img/svg/ic-openpanel.svg" type="image/svg+xml"></object></i></a>   </p>-->
            <button type="button" class="btn btn-openpanel">Abrir Filtros <i class="ic-openpanel">
              <img src="../../../../../assets/img/svg/ic-openpanel.svg" />
            </i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="padding-40">
    <div class="container">
      <div class="row">
        <div class="col col-lg-5 col-md-5 col-sm-5">
          <div class="row">
            <h3 class="contact-body-title">320 Valoraciones (80 disponibles)</h3>
            <div class="cus-chkbox-dropmenu">
              <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input id="chk" type="checkbox">
                                                    <label for="chk"></label>
                                                </span>
                <select class="form-control">
                  <option>Seleccionar todas</option>
                  <option>dropdown list 2</option>
                  <option>dropdown list 3</option>
                </select>
              </div>
            </div>
            <!-- /input-group -->
          </div>
        </div>
        <div class="col col-lg-5 col-md-5 col-sm-5 offset-lg-2 offset-md-2 offset-sm-2">
          <div class="row">
            <button type="button" class="btn btn-accent btn-block" i18n="@@createRating" [routerLink]="['/', 'admin', 'business', 'ratings','create']">Create Rating</button>
            <button type="button" class="btn btn-cus-outline btn-block">Buscar: Ej: Calle Gran Vía, 28020, España, Madrid Buscar: Ej: Calle Gran Vía, 28020, España, Madrid Buscar: Ej: Calle Gran Vía, 28020, España, Madrid</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="d-block">
        <div class="list-card">
          <div class="list-card-item row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row d-block">
                <div class="title-with-chk">
                  <input id="list-chk1" type="checkbox"> <label for="list-chk1"> <span>Valoration (rating) name</span></label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="row d-block">
                <div class="list-action-btn">
                  <button type="button" class="btn btn-modify btn-sm" [routerLink]="['/', 'admin', 'business', 'ratings','edit', 10]">Edit</button>
                  <button type="button" class="btn btn-remove btn-sm">Delete</button>
                </div>
              </div>
            </div>
          </div>
          <div class="list-card-item row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row d-block">
                <div class="title-with-chk">
                  <input id="list-chk2" type="checkbox"> <label for="list-chk2"> <span>Valoration (rating) name</span></label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="row d-block">
                <div class="list-action-btn">
                  <button type="button" class="btn btn-modify btn-sm">Modificar</button>
                  <button type="button" class="btn btn-remove btn-sm">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="list-card-item row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row d-block">
                <div class="title-with-chk">
                  <input id="list-chk3" type="checkbox"> <label for="list-chk3"> <span>Valoration (rating) name</span></label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="row d-block">
                <div class="list-action-btn">
                  <button type="button" class="btn btn-modify btn-sm">Modificar</button>
                  <button type="button" class="btn btn-remove btn-sm">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="list-card-item row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row d-block">
                <div class="title-with-chk">
                  <input id="list-chk4" type="checkbox"> <label for="list-chk4"> <span>Valoration (rating) name</span></label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="row d-block">
                <div class="list-action-btn">
                  <button type="button" class="btn btn-modify btn-sm">Modificar</button>
                  <button type="button" class="btn btn-remove btn-sm">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="list-card-item row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row d-block">
                <div class="title-with-chk">
                  <input id="list-chk5" type="checkbox"> <label for="list-chk5"> <span>Valoration (rating) name</span></label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="row d-block">
                <div class="list-action-btn">
                  <button type="button" class="btn btn-modify btn-sm">Modificar</button>
                  <button type="button" class="btn btn-remove btn-sm">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="list-card-item row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row d-block">
                <div class="title-with-chk">
                  <input id="list-chk6" type="checkbox"> <label for="list-chk6"> <span>Valoration (rating) name</span></label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="row d-block">
                <div class="list-action-btn">
                  <button type="button" class="btn btn-modify btn-sm">Modificar</button>
                  <button type="button" class="btn btn-remove btn-sm">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="list-card-item row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row d-block">
                <div class="title-with-chk">
                  <input id="list-chk7" type="checkbox"> <label for="list-chk7"> <span>Valoration (rating) name</span></label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="row d-block">
                <div class="list-action-btn">
                  <button type="button" class="btn btn-modify btn-sm">Modificar</button>
                  <button type="button" class="btn btn-remove btn-sm">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="list-card-item row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row d-block">
                <div class="title-with-chk">
                  <input id="list-chk8" type="checkbox"> <label for="list-chk8"> <span>Valoration (rating) name</span></label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="row d-block">
                <div class="list-action-btn">
                  <button type="button" class="btn btn-modify btn-sm">Modificar</button>
                  <button type="button" class="btn btn-remove btn-sm">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-4 offset-lg-4 offset-md-4 offset-sm-4">
              <nav class="text-center">
                <ul class="pagination cus-pagination">
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <span class="page-link">Siguiente</span>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">Última</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>