<div class="overlay" [ngClass]="{'active': showFilters === true, '' : !showFilters}" (click)="closeFilters()"></div>
<div class="wrapper" [ngClass]="{'filters-open': showFilters === true, '' : !showFilters}">
  <aside class="left-panel">
    <div class="nav-icon-menu">
      <ul>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/', 'super-admin']">
            <i class="">
              <img src="../../../../assets/img/svg/ic-nav-1.svg" alt="nav-1">
            </i>
            <span i18n="@@overview">Super Admin</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <router-outlet></router-outlet>
  <filters *ngIf="showFilters"></filters>
</div>