<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <h2 class="header-title">Offices</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="row d-block text-right">
            <!--<p class="d-block"><a href="javascript:;" class="text-right">Abrir Filtros <i class=""><object data="img/svg/ic-openpanel.svg" type="image/svg+xml"></object></i></a>   </p>-->
            <button type="button" class="btn btn-openpanel">Apply Filters <i class="ic-openpanel">
              <img src="../../../../../assets/img/svg/ic-openpanel.svg" />
            </i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="padding-40">
    <div class="container">
      <div class="row">
        <div class="col col-lg-5 col-md-5 col-sm-5">
          <div class="row">
            <h3 class="contact-body-title"> {{activeBusiness.office}} Offices ({{activeBusiness.office - activeBusiness.offices.length}} Available) </h3>
            <!--<div class="cus-chkbox-dropmenu">-->
              <!--<div class="input-group">-->
                                                <!--<span class="input-group-addon">-->
                                                    <!--<input id="chk" type="checkbox">-->
                                                    <!--<label for="chk"></label>-->
                                                <!--</span>-->
                <!--<select class="form-control">-->
                  <!--<option>Seleccionar todas</option>-->
                  <!--<option>dropdown list 2</option>-->
                  <!--<option>dropdown list 3</option>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->
            <!-- /input-group -->
          </div>
        </div>
        <div class="col col-lg-5 col-md-5 col-sm-5 offset-lg-2 offset-md-2 offset-sm-2">
          <div class="row">
            <button *ngIf="user.role === 'admin'" type="button" class="btn btn-accent btn-block" i18n="@@createOffice" [routerLink]="['/', 'admin', 'business', 'offices','create']">Create Office </button>
            <button type="button" class="btn btn-cus-outline btn-block" [routerLink]="['/', 'admin', 'business', 'offices','search']">Search Offices </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="d-block">
        <div class="list-card">

          <div class="list-card-item row" *ngFor="let office of offices | async | paginate: {id: 'offices', itemsPerPage: filterObject.limit, currentPage: page, totalItems: total}" >
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="row d-block">
                <div class="title-with-chk">
                  <input id="list-chk1" type="checkbox"> <label for="list-chk1">
                  <span>{{office.officeName}}</span></label>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="row d-block">
                <div class="list-label">
                  <span class="label-id">ID: {{office.uniqueId}}</span>
                  <!--<span class="label-overview">Visión General</span>-->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="row d-block">
                <div class="list-action-btn">
                  <button type="button" class="btn btn-modify btn-sm" [routerLink]="['/', 'admin', 'business', 'offices','edit', office._id]">Edit</button>
                  <button type="button" class="btn btn-remove btn-sm" *ngIf="user.role === 'admin'" (click)="deleteOffice(office._id)">Delete</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="text-center">
                <pagination-controls (pageChange)="getPage($event)" id="offices"></pagination-controls>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>