<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h2 class="header-title">Create Office</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="padding-40">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="contact-body-title"> {{activeBusiness.office}} Office ({{activeBusiness.office -
            activeBusiness.offices.length}} Available) </h3>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="form-section">
        <form [formGroup]="officeFormGroup" #officeForm="ngForm">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row d-block">
                <div class="form-group">
                  <div class="form-pro-pics">
                    <div class="dis-table">
                      <div class="ver-middle">
                        <img *ngIf="selectedImage" (click)="triggerUpload()" id="insert-pro-pics" [src]="selectedImage"
                             class="rounded mx-auto d-block company-logo">
                        <img (click)="triggerUpload()" *ngIf="!selectedImage"
                             src="../../../../../../src/assets/img/insert-pic.png">
                        <input #officeImage type="file" class="d-none" (change)="changeFile($event)"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row">
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label class="office-id-label">ID: {{uniqueId}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Office Name</label>
                      <input class="form-control" formControlName="officeName">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Location</label>
                  <input class="form-control" formControlName="location">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Tags</label>
                  <tag-input formControlName="tags"></tag-input>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Name of Road</label>
                  <input class="form-control" formControlName="nameOfRoad">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Agents</label>
                  <button type="button" class="btn-cirlce" (click)="openManagersModel(agentsModel)"><i
                      class="fa fa-plus"></i></button>
                  <span class="custom-chip" *ngFor="let agent of agents;let i = index;" (click)="removeAgent(agent, i)">{{agent.firstName}} {{agent.lastName}}
                    &nbsp;<i class="fa fa-close pointer"></i> </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Number of Way</label>
                  <input class="form-control" formControlName="numberOfWay">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Managers</label>
                  <button type="button" class="btn-cirlce" (click)="openManagersModel(managersModel)"><i class="fa fa-plus"></i></button>
                  <span class="custom-chip" *ngFor="let manager of managers; let i = index;" (click)="removeManager(manager, i)">{{manager.firstName}} {{manager.lastName}}
                    &nbsp;<i class="fa fa-close pointer"></i> </span>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="row">-->
            <!--<div class="col-lg-6 col-md-6 col-sm-6 col-12">-->
              <!--<div class="d-block">-->
                <!--<div class="form-group">-->
                  <!--<button type="button" data-toggle="modal" data-target=".model-map" class="btn btn-outline btn-block">-->
                    <!--Comprobar Dirección-->
                  <!--</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 offset-lg-3 offset-md-3 offset-sm-3">
              <div class="d-block">
                <div class="form-group">
                  <button type="button" class="btn btn-block btn-dark m-t-b-20" (click)="createOffice(officeForm.value)"
                          [disabled]="!officeForm.valid">Create Office
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #managersModel let-c="close" let-d="dismiss" class="modal fade">
  <div class="model-content modal-lg cus-model-content">
    <div class="modal-header d-block">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span>&times;</span>
      </button>
      <div class="title-spacing">
        <h5 class="modal-title">Assign Managers to this Office</h5>
        <p>You can add one or more managers to an office</p>
      </div>
    </div>
    <div class="modal-body model-list">
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="managerSearchFormGroup" #managerSearchForm="ngForm">
            <div class="row d-block">
              <div class="form-group">
                <input type="search" class="form-control model-input-search" placeholder="Search for managers..." formControlName="managerQuery">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="list-card row">
        <div class="model-list-scroll col-12">
          <div *ngFor="let manager of managersList; trackBy: trackByFn; let i = index;" class="list-card-item row ass-office-list-item">
            <div class="col-lg-7 col-md-7 col-sm-7">
              <div class="row d-block">
                <span class="model-list-title">{{manager.firstName}} {{manager.lastName}}</span>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="row d-block">
                <div class="list-label">
                  <button class="btn-add-remove rounded-circle" (click)="addOrRemoveManager(manager, i)">
                    <i *ngIf="!manager.selected" class="fa fa-plus"></i>
                    <i *ngIf="manager.selected" class="fa fa-check"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #agentsModel let-c="close" let-d="dismiss" class="modal fade">
  <div class="model-content modal-lg cus-model-content">
    <div class="modal-header d-block">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span>&times;</span>
      </button>
      <div class="title-spacing">
        <h5 class="modal-title"></h5>
        <p></p>
      </div>
    </div>
    <div class="modal-body model-list">
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="agentSearchFormGroup" #agentSearchForm="ngForm">
            <div class="row d-block">
              <div class="form-group">
                <input type="search" class="form-control model-input-search" placeholder="Search Agents..." formControlName="agentQuery">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="list-card row">
        <div class="model-list-scroll col-12">
          <div *ngFor="let agent of agentList; trackBy: trackByFn; let i = index;" class="list-card-item row ass-office-list-item">
            <div class="col-lg-7 col-md-7 col-sm-7">
              <div class="row d-block">
                <span class="model-list-title">{{agent.firstName}} {{agent.lastName}}</span>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="row d-block">
                <div class="list-label">
                  <button class="btn-add-remove rounded-circle" (click)="addOrRemoveAgent(agent, i)">
                    <i *ngIf="!agent.selected" class="fa fa-plus"></i>
                    <i *ngIf="agent.selected" class="fa fa-check"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>