<div class="wrapper" *ngIf="user">
    <aside class="left-panel">
        <div class="nav-icon-menu">
            <ul>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/', 'admin', 'overview']">
                        <i class="">
                            <img src="../../../../assets/img/svg/ic-nav-1.svg" alt="nav-1">
                        </i>
                        <span i18n="@@overview">Overview</span>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a href="javascript:void(0);">
                        <i class="ic-circle">
                            <img src="../../../../assets/img/svg/ic-nav-2.svg"/>
                        </i>
                        <span i18n="@@messages">Messages</span>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a href="javascript:void(0);">
                        <i class="">
                            <img src="../../../../assets/img/svg/ic-nav-1.svg" alt="nav-1">
                        </i>
                        <span i18n="@@ratings">Ratings</span>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a href="javascript:void(0);">
                        <i class="">
                            <img src="../../../../assets/img/svg/ic-nav-1.svg" alt="nav-1">
                        </i>
                        <span i18n="@@activity">Activity</span>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/', 'admin', 'business']">
                        <i class="">
                            <img src="../../../../assets/img/svg/ic-nav-1.svg" alt="nav-1">
                        </i>
                        <span i18n="@@business">Business</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <router-outlet></router-outlet>
</div>