<aside class="filters-panel">
  <div class="filters-content">
    <div class="filters-header">
      <h4 class="filter-title">Filtrar por:</h4>
      <div class="filter-by-label row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-left">
          <div class="row d-block">
            <span>Desde</span>
            <span>10 mar</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-2 text-center">
          <div class="row d-block">
            <span class="filter-divider">/</span>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-5 text-right">
          <div class="row d-block">
            <span>Hasta</span>
            <span>10 mar</span>
          </div>
        </div>
      </div>
    </div>
    <div class="filters-body">
      <div class="filter-item">
        <div class="filter-calendar">
        </div>
      </div>
      <div class="filter-separator"></div>
      <div class="filter-item">
        <div class="filter-tag">
          <button class="selected">Nuevo</button>
          <button>Leído</button>
          <button class="selected">Aceptado</button>
          <button>Resuelto</button>
          <button class="selected">Incidencias</button>
          <button>Sugerencias</button>
        </div>
      </div>
      <div class="filter-separator"></div>
      <div class="filter-item">
        <div class="filter-input">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Tags" data-role="tagsinput">
          </div>
        </div>
      </div>
      <div class="filter-separator"></div>
      <div class="filter-item">
        <div class="filter-input">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Código Postal" data-role="tagsinput">
          </div>
        </div>
      </div>
      <div class="filter-separator"></div>
      <div class="filter-item">
        <div class="filter-input">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Ciudad" data-role="tagsinput">
          </div>
        </div>
      </div>
      <div class="filter-separator"></div>
      <div class="filter-item">
        <div class="filter-input">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Managers" data-role="tagsinput">
          </div>
        </div>
      </div>
      <div class="filter-separator"></div>
      <div class="filter-item">
        <div class="filter-input">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Agentes" data-role="tagsinput">
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>