<div class="content-header content-header-sec">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h2 class="header-title">
            <span>Business Name</span>{{business.name}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="padding-40">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="contact-body-title">Edit Company Information</h3>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="form-section">
        <form [formGroup]="businessFormGroup" #businessForm="ngForm">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row d-block">
                <div class="form-group">
                  <div class="form-pro-pics">
                    <div class="dis-table">
                      <div class="ver-middle">
                        <img *ngIf="selectedImage" (click)="triggerUpload()" id="insert-pro-pics" [src]="selectedImage" class="rounded mx-auto d-block company-logo" alt="{{business.name}}">
                        <img (click)="triggerUpload()" *ngIf="!selectedImage" src="../../../../../../src/assets/img/insert-pic.png">
                        <input #businessImage type="file" class="d-none" (change)="changeFile($event)"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row">
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Business Name</label>
                      <input class="form-control" formControlName="name">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Trade Name</label>
                      <input class="form-control" formControlName="tradeName">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Location</label>
                  <input class="form-control" formControlName="location">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Telephone</label>
                  <input class="form-control" formControlName="phone">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Name of the Road</label>
                  <input class="form-control" formControlName="nameOfRoad">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>CIF</label>
                  <input class="form-control" formControlName="CIF">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Number of Way</label>
                  <input class="form-control" formControlName="numberOfWay">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Contact Person</label>
                  <input class="form-control" formControlName="contactPerson">
                </div>
              </div>
            </div>
          </div>
          <!--<div class="row">-->
            <!--<div class="col-lg-6 col-md-6 col-sm-6 col-12">-->
              <!--<div class="d-block">-->
                <!--<div class="form-group">-->
                  <!--<button type="button" data-toggle="modal" data-target=".bd-example-modal-lg"-->
                          <!--class="btn btn-outline btn-block">Comprobar Dirección-->
                  <!--</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 offset-lg-3 offset-md-3 offset-sm-3">
              <div class="d-block">
                <div class="form-group">
                  <button class="btn btn-block btn-dark m-t-b-20"
                          (click)="updateCompany(businessForm.value)"
                          [disabled]="!businessForm.valid"> Update </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>