<div style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#f5f8fa;color:#74787e;height:100%;line-height:1.4;margin:0;width:100%!important;word-break:break-word">

  <table width="100%" cellpadding="0" cellspacing="0"
         style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#f5f8fa;margin:0;padding:0;width:100%">
    <tbody>
    <tr>
      <td align="center" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
        <table width="100%" cellpadding="0" cellspacing="0"
               style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0;padding:0;width:100%">
          <tbody>
          <tr>
            <td style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:25px 0;text-align:center">
              <a href="http://localhost:4004"
                 style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#bbbfc3;font-size:19px;font-weight:bold;text-decoration:none"
                 target="_blank">
                Gueswi
              </a>
            </td>
          </tr>
          <tr>
            <td width="100%" cellpadding="0" cellspacing="0"
                style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;border-bottom:1px solid #edeff2;border-top:1px solid #edeff2;margin:0;padding:0;width:100%">
              <table align="center" width="570" cellpadding="0" cellspacing="0"
                     style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;margin:0 auto;padding:0;width:570px">
                <tbody>
                <tr>
                  <td style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px">
                    <h1 style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#2f3133;font-size:19px;font-weight:bold;margin-top:0;text-align:left">
                      Hello, <%= data.firstName %> <%= data.lastName %></h1>
                    <p style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left"> Thank you for joining us, we are glad to have you onboard. </p>
                    <p style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left"> To start using our platform, use the following password to get started</p>
                    <h4 style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:center">
                      <%= data.password %> </h4>
                    <table align="center" width="100%" cellpadding="0" cellspacing="0" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:30px auto;padding:0;text-align:center;width:100%">
                      <tbody>
                      <tr>
                        <td align="center"
                            style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
                          <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                 style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
                            <tbody>
                            <tr>
                              <td align="center"
                                  style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
                                  <tbody>
                                  <tr>
                                    <td style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
                                      <a href="http://localhost:5005" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;border-radius:3px;color:#fff;display:inline-block;text-decoration:none;background-color:#3097d1;border-top:10px solid #3097d1;border-right:18px solid #3097d1;border-bottom:10px solid #3097d1;border-left:18px solid #3097d1" target="_blank">Login Now</a>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <p style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left">
                      Thanks,<br>
                      Project connect</p>
                    <p style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left">* Please do not share this email with anyone, we recommend you delete as soon as you are done with this.</p>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
              <table align="center" width="570" cellpadding="0" cellspacing="0"
                     style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0 auto;padding:0;text-align:center;width:570px">
                <tbody>
                <tr>
                  <td align="center"
                      style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px">
                    <p style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;line-height:1.5em;margin-top:0;color:#aeaeae;font-size:12px;text-align:center">
                      © 2017 Project Connect. All rights reserved.</p>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>