<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h2 class="header-title">Edit {{member.firstName}} {{member.lastName}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="padding-40">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="contact-body-title" [routerLink]="['/', 'admin', 'business', 'agents', 'list']"><i class="fa fa-chevron-left"></i> Back</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-section">
        <form #userForm="ngForm" [formGroup]="userFormGroup">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row d-block">
                <div class="form-group">
                  <div class="form-pro-pics">
                    <div class="dis-table">
                      <div class="ver-middle">
                        <img *ngIf="!selectedImage" (click)="triggerUpload()" id="userPlaceHolderImage"
                             src="../../../../../../src/assets/img/insert-pic.png" class="rounded mx-auto d-block" alt="">
                        <img *ngIf="selectedImage" (click)="triggerUpload()" class="rounded mx-auto d-block logo"
                             alt="" [src]="selectedImage">
                        <input #userImage type="file" class="d-none" (change)="changeFile($event)"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row">
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Telephone <small class="text-danger">*</small></label>
                      <input class="form-control" formControlName="telephone">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Position <small class="text-danger">*</small></label>
                      <input class="form-control" formControlName="position">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>First Name <small class="text-danger">*</small></label>
                  <input class="form-control" formControlName="firstName">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Email <small class="text-danger">*</small></label>
                  <input type="email" class="form-control" formControlName="email">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Last Name <small class="text-danger">*</small></label>
                  <input class="form-control" formControlName="lastName">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Password <small class="text-danger">*</small></label>
                  <input class="form-control" formControlName="password">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Location</label>
                  <input class="form-control" formControlName="address">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Tags</label>
                  <tag-input formControlName="tags"></tag-input>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Offices  <small class="text-danger">*</small> </label>
                  <button class="btn-cirlce" type="button" (click)="openModel(officeModel)"><i class="fa fa-plus"></i></button>
                  <span class="custom-chip" *ngFor="let office of assignedOffices;let i = index;">{{office.officeName}}
                    &nbsp;<i class="fa fa-close pointer" (click)="removeOffice(office, i)"></i> </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 offset-lg-3 offset-md-3 offset-sm-3">
              <div class="d-block">
                <div class="form-group">
                  <button [disabled]="!userForm.valid" class="btn btn-block btn-dark m-t-b-20" (click)="updateAgent(userForm.value)">Update User
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<ng-template #officeModel let-c="close" let-d="dismiss" class="modal fade">
  <div class="model-content modal-lg cus-model-content">
    <div class="modal-header d-block">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span>&times;</span>
      </button>
      <div class="title-spacing">
        <h5 class="modal-title">Offices associated with this Manager</h5>
        <p>You can add one or more offices to a manager</p>
      </div>
    </div>
    <div class="modal-body model-list">
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="searchFormGroup" #searchForm="ngForm">
            <div class="row d-block">
              <div class="col-12 form-group">
                <input class="form-control model-input-search" formControlName="searchOfficeName" placeholder="Search..."  type="search">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="list-card row">
        <div class="model-list-scroll col-12">
          <div class="list-card-item row ass-office-list-item" *ngFor="let office of offices; trackBy: trackByFn; let i = index;">
            <div class="col-lg-7 col-md-7 col-sm-7">
              <div class="row d-block">
                <span class="model-list-title">{{office.officeName}}</span>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="row d-block">
                <div class="list-label">
                  <button class="btn-add-remove rounded-circle" (click)="addOrRemoveOffice(office, i);">
                    <i *ngIf="!office.selected" class="fa fa-plus"></i>
                    <i *ngIf="office.selected" class="fa fa-check"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>