<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <h2 class="header-title">Search Users</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="padding-40">
    <div class="container">
      <div class="row">
        <div class="col col-lg-7 col-md-7 col-sm-7">
          <form [formGroup]="searchFormGroup" #search="ngForm">
            <div class="row">
              <div class="col col-lg-12 form-group">
                <input class="form-control" type="search" formControlName="query" placeholder="enter name to search...">
              </div>
            </div>
          </form>
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-4 offset-lg-1 offset-md-1 offset-sm-1">
          <div class="row">
            <button type="button" class="btn btn-accent btn-block" i18n="@@createManager"
                    [routerLink]="['/', 'super-admin', 'users']"><i class="fa fa-chevron-left"></i> Go Back
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="d-block">
        <div class="list-card">
          <div *ngFor="let user of users | async" class="list-card-item row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="row d-block">
                <div class="title-with-chk">
                  <input id="list-chk1" type="checkbox"> <label for="list-chk1">
                  <span>{{user.firstName}} {{user.lastName}}</span></label>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="row d-block">
                <div class="list-label">
                  <span class="label-overview">&nbsp;</span>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="row d-block">
                <div class="list-action-btn">
                  <button type="button" class="btn btn-modify btn-sm" i18n="@@edit" [routerLink]="[ '/', 'super-admin', 'users','edit', user._id]">Edit </button>
                  <button type="button" class="btn btn-remove btn-sm" i18n="@@delete" (click)="deleteUser(user._id)">Delete </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #emptyTemplate>
  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-md-12 col-sm-12">
        <div class="data-blank">
          <h1>No results yet!</h1>
        </div>
      </div>
    </div>
  </div>
</ng-template>