<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h2 class="header-title"> <i class="fa fa-chevron-left pointer" [routerLink]="['/', 'super-admin', 'users']"></i>
           Edit "{{member.firstName}} {{member.lastName}}"
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="padding-40">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Company: {{member.company.name}}</h3>
          <h4>Role: {{member.role}}</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-section">
        <form #user="ngForm" [formGroup]="userFormGroup">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row d-block">
                <div class="form-group">
                  <div class="form-pro-pics">
                    <div class="dis-table">
                      <div class="ver-middle">
                        <img *ngIf="!selectedUserImage" (click)="triggerUpload()" id="userPlaceHolderImage" src="../../../../../src/assets/img/insert-pic.png" class="rounded mx-auto d-block" alt="">
                        <img *ngIf="selectedUserImage" (click)="triggerUpload()" class="rounded mx-auto d-block logo" alt="" [src]="selectedUserImage">
                        <input #userImage type="file" class="d-none" (change)="changeFile($event)"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row">
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Telephone</label>
                      <input class="form-control" formControlName="telephone">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Position</label>
                      <input class="form-control" formControlName="position">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>First Name</label>
                  <input class="form-control" formControlName="firstName">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" formControlName="email">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Last Name</label>
                  <input class="form-control" formControlName="lastName">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Tags</label>
                  <tag-input formControlName="tags"></tag-input>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Location</label>
                  <input class="form-control" formControlName="address">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" formControlName="password">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 offset-lg-3 offset-md-3 offset-sm-3">
              <div class="d-block">
                <div class="form-group">
                  <button [disabled]="!user.valid"  class="btn btn-block btn-dark m-t-b-20" (click)="updateUser(user.value)">Update User</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>