<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <h2 class="header-title">Users</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="row d-block text-right">
            <button type="button" class="btn btn-openpanel" (click)="toggleFilters()">Apply Filters<i class="ic-openpanel">
              <img src="../../../../assets/img/svg/ic-openpanel.svg"/>
            </i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="padding-40">
    <div class="container">
      <div class="row">
        <div class="col col-lg-5 col-md-5 col-sm-5">
          <div class="row">
            <h3 class="contact-body-title">{{total}} Users</h3>
            <div class="cus-chkbox-dropmenu">
              <div class="input-group">
                <span class="input-group-addon">
                    <input id="chk" type="checkbox">
                    <label for="chk"></label>
                </span>
                <select class="form-control">
                  <option>Seleccionar todas</option>
                  <option>dropdown list 2</option>
                  <option>dropdown list 3</option>
                </select>
              </div>
            </div>

          </div>
        </div>
        <div class="col col-lg-5 col-md-5 col-sm-5 offset-lg-2 offset-md-2 offset-sm-2">
          <div class="row">
            <button type="button" class="btn btn-accent btn-block" i18n="@@createManager"
                    [routerLink]="['/', 'super-admin', 'users','create']">Create User
            </button>
            <button type="button" class="btn btn-cus-outline btn-block" [routerLink]="['/', 'super-admin','users', 'search']">Search Users...</button>
          </div>
        </div>
      </div>
    </div>
    <!--*ngIf="Users.length > 0; else emptyTemplate"-->
    <div class="container">
      <div class="d-block">
        <div class="list-card">
          <div *ngFor="let user of users | async | paginate: {id: 'users', itemsPerPage: filterObject.limit, currentPage: page, totalItems: total}" class="list-card-item row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="row d-block">
                <div class="title-with-chk">
                  <input id="{{user._id}}" type="checkbox">
                  <label for="{{user._id}}">
                  <span>{{user.firstName}} {{user.lastName}}</span></label>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="row d-block">
                <div class="list-label">
                  <span class="label-overview">{{user.role}}</span>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="row d-block">
                <div class="list-action-btn">
                  <button type="button" class="btn btn-modify btn-sm" i18n="@@edit" [routerLink]="[ '/', 'super-admin', 'users','edit', user._id]">Edit </button>
                  <button type="button" class="btn btn-remove btn-sm" i18n="@@delete" (click)="deleteUser(user._id)">Delete </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center">
                <pagination-controls (pageChange)="getPage($event)" id="users"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #emptyTemplate>
  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-md-12 col-sm-12">
        <div class="data-blank">
          <h1>No Users Added</h1>
        </div>
      </div>
    </div>
  </div>
</ng-template>