<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h2 class="header-title">User</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="padding-40">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="contact-body-title pointer" [routerLink]="['/', 'super-admin', 'users']"><i
              class="fa fa-chevron-left"></i> Go Back</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-section">
        <form #user="ngForm" [formGroup]="userFormGroup">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="d-block">User Type <small class="text-danger">*</small></label>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="form-control">
                      <label class="custom-control custom-radio">
                        <input name="position" type="radio" class="custom-control-input" (click)="position = 'admin'" [checked]="true">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Admin</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="form-control">
                      <label class="custom-control custom-radio">
                        <input name="position" type="radio" class="custom-control-input" (click)="position = 'manager'">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Manager</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="form-control">
                      <label class="custom-control custom-radio">
                        <input name="position" type="radio" class="custom-control-input" (click)="position = 'agent'">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Agent</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row d-block">
                <div class="form-group">
                  <div class="form-pro-pics">
                    <div class="dis-table">
                      <div class="ver-middle">
                        <img *ngIf="!selectedUserImage" (click)="triggerUpload()" id="userPlaceHolderImage"
                             src="../../../../../src/assets/img/insert-pic.png" class="rounded mx-auto d-block" alt="">
                        <img *ngIf="selectedUserImage" (click)="triggerUpload()" class="rounded mx-auto d-block logo"
                             alt="" [src]="selectedUserImage">
                        <input #userImage type="file" class="d-none" (change)="changeFile($event)"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row">
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Telephone <small class="text-danger">*</small></label>
                      <input class="form-control" formControlName="telephone">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Position <small class="text-danger">*</small></label>
                      <input class="form-control" formControlName="position">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>First Name <small class="text-danger">*</small></label>
                  <input class="form-control" formControlName="firstName">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Email <small class="text-danger">*</small></label>
                  <input type="email" class="form-control" formControlName="email">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Last Name <small class="text-danger">*</small></label>
                  <input class="form-control" formControlName="lastName">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Password <small class="text-danger">*</small></label>
                  <input class="form-control" formControlName="password">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Location</label>
                  <input class="form-control" formControlName="address">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Tags</label>
                  <tag-input formControlName="tags"></tag-input>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Business  <small class="text-danger">*</small> </label>
                  <div class="input-group cus-input-group">
                    <input class="form-control" formControlName="company" [disabled]="true">
                    <span class="input-group-btn bg-dark">
                      <button class="btn bg-dark" type="button" (click)="openModel(offices)"><i class="fa fa-plus"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 offset-lg-3 offset-md-3 offset-sm-3">
              <div class="d-block">
                <div class="form-group">
                  <button [disabled]="!user.valid" class="btn btn-block btn-dark m-t-b-20" (click)="createStaffMember(user.value)">Create User
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<ng-template #offices let-c="close" let-d="dismiss" class="modal fade">
  <div class="model-content modal-lg cus-model-content">
    <div class="modal-header d-block">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span>&times;</span>
      </button>
      <div class="title-spacing">
        <h5 class="modal-title">Assign Company to this Member</h5>
      </div>
    </div>
    <div class="modal-body model-list">
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="searchFormGroup" #search="ngForm">
            <div class="row d-block">
              <div class="form-group">
                <input class="form-control model-input-search" formControlName="searchBusinessName" placeholder="Search..."  type="search">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="list-card row">
        <div class="model-list-scroll col-12">
          <div class="list-card-item row ass-office-list-item" *ngFor="let business of businesses | async">
            <div class="col-lg-7 col-md-7 col-sm-7">
              <div class="row d-block">
                <span class="model-list-title">{{business.name}}</span>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="row d-block">
                <div class="list-label">
                  <button class="btn-add-remove rounded-circle" (click)="checkForAvailability(business._id, business.name)">

                    <span *ngIf="business.id !== company.id"> <i class="fa fa-plus"></i> </span>
                    <span *ngIf="business.id === company.id"> <i class="fa fa-check"></i> </span>

                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="errorMessage">
        <div class="alert alert-danger">
          {{errorMessage}}
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-md-center">
      <div class="col-6">
        <button type="button" class="btn btn-dark btn-block" (click)="c('ok')">OK, Continue</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-dark btn-block" (click)="c('close')">Close</button>
      </div>
    </div>
  </div>
</ng-template>