<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <h2 class="header-title">WhatsApp</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="row d-block text-right">
            <!--<p class="d-block"><a href="javascript:;" class="text-right">Abrir Filtros <i class=""><object data="img/svg/ic-openpanel.svg" type="image/svg+xml"></object></i></a>   </p>-->
            <button type="button" class="btn btn-openpanel">Abrir Filtros <i class="ic-openpanel">
              <img src="../../../../../assets/img/svg/ic-openpanel.svg" />
            </i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="container">
    <div class="row d-block">
      <h3 class="contact-body-title title-padding-40">Sincronizar con WhatsApp</h3>
      <div class="whatsapp-desc">
        <p>Sincroniza WhatsApp con Gueswi en el siguiente enlace, debes mantener activa la sesión en la pestaña que se te abrira a continuacion.</p>
        <p>La pestaña de Whatsapp debe mantenerse abierta y no debes cerrarla.</p>
        <div class="active-btn row">
          <div class="col-5">
            <button class="btn btn-whatsapp btn-block">Activar WhatsApp</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>