<div class="auth-wrapper">
    <div class="auth-logo">
        <!--<img src="img/logo.png" class="img-fluid" alt="logo" />-->
    </div>
    <div class="auth-body">
        <p class="auth-title">Forgot Password</p>
        <form action="#" method="post" name="loginform">
            <div class="form-group">
                <input type="email" class="form-control" name="authemail" placeholder="Email" required="required" value="">
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-dark" name="submit">Sign In</button>
                <p class="auth-link">already have an account? <a [routerLink]="['/']">login here</a></p>
            </div>
        </form>
    </div>
</div>