<div class="auth-wrapper">
    <div class="auth-logo">
        <img src="../../../assets/img/logo.png" class="img-fluid" alt="logo" />
    </div>
    <div class="auth-body">
        <p class="auth-title">Admin Login</p>
        <form [formGroup]="loginFormGroup" #login="ngForm" (submit)="loginUser(login.value)">
            <div class="form-group">
                <input type="email" class="form-control" name="authemail" placeholder="Email" formControlName="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="authpassword" placeholder="Password" formControlName="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-dark" name="submitBtn" [disabled]="!login.valid">Sign In</button>
                <p class="auth-link">forgot your password? <a [routerLink]="['/', 'forgot-password']">click here</a></p>
            </div>
            <div class="form-group" *ngIf="errorMessage">
                <div class="alert alert-danger">
                    {{errorMessage}}
                </div>
            </div>
        </form>
    </div>
</div>