<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <h2 class="header-title">Users</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="row d-block text-right">
            <button type="button" class="btn btn-openpanel" (click)="toggleFilters()">Apply Filters <i class="ic-openpanel">
              <img src="../../../../assets/img/svg/ic-openpanel.svg"/>
            </i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="padding-40">
    <div class="container">
      <div class="row">
        <div class="col col-lg-5 col-md-5 col-sm-5">
          <div class="row">
            <h3 class="contact-body-title"> {{total}} Users</h3>
            <div class="cus-chkbox-dropmenu">
              <div class="input-group">
                <span class="input-group-addon">
                    <input id="chk" type="checkbox">
                    <label for="chk"></label>
                </span>
                <select class="form-control">
                  <option>Seleccionar todas</option>
                  <option>dropdown list 2</option>
                  <option>dropdown list 3</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-5 col-md-5 col-sm-5 offset-lg-2 offset-md-2 offset-sm-2">
          <div class="row">
            <button type="button" class="btn btn-cus-outline btn-block" [routerLink]="['/', 'super-admin', 'business', 'search']">Search... </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="d-block">
        <div class="list-card">
          <div class="list-card-header row">
            <div class="col-lg-2">
              <div class="row d-block">
                Expiry
              </div>
            </div>
            <div class="col-lg-2">
              <div class="row d-block">
                Days Remaining
              </div>
            </div>
            <div class="col-lg-5">
              <div class="row d-block">
                Company Name
              </div>
            </div>
          </div>
          <div *ngFor="let business of businesses | async | paginate: {id: 'businesses', itemsPerPage: filterObject.limit, currentPage: page, totalItems: total}" class="list-card-item row">
            <div class="col-lg-2 col-md-2 col-sm-2">
              <div class="row d-block">
                {{business.contractEndDate | date: 'mediumDate'}}
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3">
              <div class="row d-block text-success" *ngIf="getDiffDays(business.contractEndDate) > 30">
                {{getDiffDays(business.contractEndDate)}}
              </div>
              <div class="row d-block text-danger" *ngIf="getDiffDays(business.contractEndDate) < 30">
                {{getDiffDays(business.contractEndDate)}}
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-4">
              <div class="row d-block">
                {{business.name}}
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="row d-block">
                <div class="list-action-btn">
                  <button type="button" class="btn btn-danger btn-sm" i18n="@@expired" *ngIf="getDiffDays(business.contractEndDate) < 0">Expired</button>
                  <button type="button" class="btn btn-modify btn-sm" i18n="@@edit" [routerLink]="[ '/', 'super-admin', 'business','edit', business._id]">Edit</button>
                  <button type="button" class="btn btn-remove btn-sm" i18n="@@delete" (click)="deleteBusiness(business._id)">Delete</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center">
                <pagination-controls (pageChange)="getPage($event)" id="businesses"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #emptyTemplate>
  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-md-12 col-sm-12">
        <div class="data-blank">
          <h1>No Businesses Added</h1>
        </div>
      </div>
    </div>
  </div>
</ng-template>