<div class="header-profile" *ngIf="user">
  <div class="media">
    <img class="d-flex mr-3 rounded-circle r-s-h-pro-ic" src="../../../../assets/img/pro-pics.jpg"
         alt="Generic placeholder image">
    <div class="media-body">
      {{user.role}}
      <h5 class="d-block">{{user.firstName}} {{user.lastName}}
        <div ngbDropdown class="d-inline-block ic-settings pointer">
          <span class="text-right" id="dropdownBasic1" ngbDropdownToggle> <img
              src="../../../../assets/img/svg/ic-settings.svg"/> </span>
          <div class="dropdown-menu dropdown-right" aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" [routerLink]="['/', admin, 'profile']">Edit Profile</button>
            <button class="dropdown-item" (click)="logout()">Logout</button>
          </div>
        </div>
      </h5>
    </div>
  </div>
</div>