<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <h2 class="header-title"> Edit {{business.name}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="padding-40">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="contact-body-title pointer" [routerLink]="['/', 'super-admin', 'business']"><i
              class="fa fa-chevron-left"></i> Go Back</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-section">
        <form [formGroup]="businessFormGroup" #business="ngForm">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row d-block">
                <div class="form-group">
                  <div class="form-pro-pics">
                    <div class="dis-table">
                      <div class="ver-middle">
                        <img *ngIf="!selectedImage" (click)="triggerUpload()" id="placeHolderImage"
                             src="http://via.placeholder.com/150x150" class="rounded mx-auto d-block" alt="">
                        <img *ngIf="selectedImage" (click)="triggerUpload()" id="image"
                             class="rounded mx-auto d-block logo" alt="" [src]="selectedImage">
                        <input #image type="file" class="d-none" (change)="changeFile($event)"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row">
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Business Name</label>
                      <input class="form-control" formControlName="name">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Tradename</label>
                      <input class="form-control" formControlName="tradeName">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Location</label>
                  <input class="form-control" formControlName="location">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Telephone</label>
                  <input class="form-control" formControlName="phone">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Name Of Road</label>
                  <input class="form-control" formControlName="nameOfRoad">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>CIF</label>
                  <input class="form-control" formControlName="CIF">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Number Of Way</label>
                  <input class="form-control" formControlName="numberOfWay">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Contact Person</label>
                  <input class="form-control" formControlName="contactPerson">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  &nbsp;
                  <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-outline btn-block">Comprobar Dirección</button>
                </div>
              </div>
            </div>
            <div class="col-lg-offset-3 col-lg-6">
              <div class="form-group row">
                <span class="col-6 col-form-label form-control">Offices</span>
                <div class="col-6">
                  <div class="input-group cus-input-group">
                    <span class="input-group-btn bg-dark">
                      <button class="btn bg-dark" type="button" (click)="decrease('office')">-</button>
                    </span>
                    <input class="form-control" [(ngModel)]="office" [ngModelOptions]="{standalone: true}">
                    <span class="input-group-btn bg-dark">
                      <button class="btn bg-dark" type="button" (click)="increase('office')">+</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <div class="input-group cus-input-group">
                    <input class="form-control" placeholder="Start Date" formControlName="contractStartDate" ngbDatepicker #startDate="ngbDatepicker" >
                    <span class="input-group-btn bg-dark">
                        <button class="btn bg-dark" type="button" (click)="startDate.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-offset-3 col-lg-6">
              <div class="form-group row">
                <span class="col-6 col-form-label form-control">Agents</span>
                <div class="col-6">
                  <div class="input-group cus-input-group">
                    <span class="input-group-btn bg-dark">
                      <button class="btn bg-dark" type="button" (click)="decrease('agent')">-</button>
                    </span>
                    <input class="form-control"  [(ngModel)]="agent" [disabled]="true" [ngModelOptions]="{standalone: true}">
                    <span class="input-group-btn bg-dark">
                      <button class="btn bg-dark" type="button" (click)="increase('agent')">+</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <div class="input-group cus-input-group">
                    <input type="text" class="form-control" placeholder="End Date" formControlName="contractEndDate"
                           ngbDatepicker #endDate="ngbDatepicker" [minDate]="businessFormGroup.get('contractStartDate').value">
                    <span class="input-group-btn bg-dark">
                        <button class="btn bg-dark" type="button" (click)="endDate.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-offset-3 col-lg-6">
              <div class="form-group row">
                <span class="col-6 col-form-label form-control">Managers</span>
                <div class="col-6">
                  <div class="input-group cus-input-group">
                    <span class="input-group-btn bg-dark">
                      <button class="btn bg-dark" type="button" (click)="decrease('manager')">-</button>
                    </span>
                    <input class="form-control" [(ngModel)]="manager" [ngModelOptions]="{standalone: true}">
                    <span class="input-group-btn bg-dark">
                      <button class="btn bg-dark" type="button" (click)="increase('manager')">+</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" formControlName="email">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" formControlName="password">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Sales Price per Office</label>
                  <input class="form-control" formControlName="salesPricePerOffice">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 offset-lg-3 offset-md-3 offset-sm-3">
              <div class="d-block">
                <div class="form-group">
                  <button (click)="updateBusiness(business.value)" [disabled]="!business.valid" class="btn btn-block btn-dark m-t-b-20">Update</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>