<div class="content-header">
  <div class="header-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <h2 class="header-title">Create Company</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="padding-40">
    <div *ngIf="!showUserForm" class="container">
      <div class="form-section">
        <form [formGroup]="businessFormGroup" #business="ngForm">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row d-block">
                <div class="form-group">
                  <div class="form-pro-pics">
                    <div class="dis-table">
                      <div class="ver-middle">
                        <img *ngIf="!selectedImage" (click)="triggerUpload('company')" id="placeHolderImage"
                             src="../../../../../src/assets/img/insert-pic.png" class="rounded mx-auto d-block" alt="">
                        <img *ngIf="selectedImage" (click)="triggerUpload('company')" id="image"
                             class="rounded mx-auto d-block logo" alt="" [src]="selectedImage">
                        <input #image type="file" class="d-none" (change)="changeFile($event)"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row">
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Business Name</label>
                      <input class="form-control" formControlName="name">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Tradename</label>
                      <input class="form-control" formControlName="tradeName">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Location</label>
                  <input class="form-control" formControlName="location">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Telephone</label>
                  <input class="form-control" formControlName="phone">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Name Of Road</label>
                  <input class="form-control" formControlName="nameOfRoad">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>CIF</label>
                  <input class="form-control" formControlName="CIF">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Number Of Way</label>
                  <input class="form-control" formControlName="numberOfWay">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Contact Person</label>
                  <input class="form-control" formControlName="contactPerson">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-outline btn-block btn-large">Comprobar Dirección</button>
                </div>
              </div>
            </div>
            <div class="col-lg-offset-3 col-lg-6">
              <div class="form-group row">
                <div class="col-6 no-padding-right">
                  <span class="col-form-label form-control">Offices</span>
                </div>
                <div class="col-6 no-padding-left">
                  <div class="input-group cus-input-group">
                    <span class="input-group-btn">
                      <button class="btn bg-dark" type="button" (click)="decrease('office')">-</button>
                    </span>
                    <input class="form-control text-center" [(ngModel)]="office" [ngModelOptions]="{standalone: true}">
                    <span class="input-group-btn bg-dark">
                      <button class="btn bg-dark" type="button" (click)="increase('office')">+</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <div class="input-group cus-input-group">
                    <input class="form-control" placeholder="Start Date" formControlName="contractStartDate"
                           ngbDatepicker #startDate="ngbDatepicker">
                    <span class="input-group-btn bg-dark">
                        <button class="btn bg-dark" type="button" (click)="startDate.toggle()"><i
                            class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-offset-3 col-lg-6">
              <div class="form-group row">
                <div class="col-6 no-padding-right">
                  <span class="col-form-label form-control">Agents</span>
                </div>
                <div class="col-6 no-padding-left">
                  <div class="input-group cus-input-group">
                    <span class="input-group-btn">
                      <button class="btn bg-dark" type="button" (click)="decrease('agent')">-</button>
                    </span>
                    <input class="form-control text-center" [(ngModel)]="agent" [disabled]="true"
                           [ngModelOptions]="{standalone: true}">
                    <span class="input-group-btn bg-dark">
                      <button class="btn bg-dark" type="button" (click)="increase('agent')">+</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <div class="input-group cus-input-group">
                    <input type="text" class="form-control" placeholder="End Date" formControlName="contractEndDate"
                           ngbDatepicker #endDate="ngbDatepicker"
                           [minDate]="businessFormGroup.get('contractStartDate').value">
                    <span class="input-group-btn ">
                        <button class="btn bg-dark" type="button" (click)="endDate.toggle()"><i
                            class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-offset-3 col-lg-6">
              <div class="form-group row">
                <div class="col-6 no-padding-right">
                  <span class="col-form-label form-control">Managers</span>
                </div>
                <div class="col-6 no-padding-left">
                  <div class="input-group cus-input-group">
                    <span class="input-group-btn ">
                      <button class="btn bg-dark" type="button" (click)="decrease('manager')">-</button>
                    </span>
                    <input class="form-control text-center" [(ngModel)]="manager" [ngModelOptions]="{standalone: true}">
                    <span class="input-group-btn bg-dark">
                      <button class="btn bg-dark" type="button" (click)="increase('manager')">+</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" formControlName="email">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" formControlName="password">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Sales Price per Office</label>
                  <input class="form-control" formControlName="salesPricePerOffice">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 offset-lg-3 offset-md-3 offset-sm-3">
              <div class="d-block">
                <div class="form-group">
                  <button (click)="addBusiness(business.value)" [disabled]="!business.valid" class="btn btn-block btn-dark m-t-b-20">Next <i class="fa fa-chevron-right"></i></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="showUserForm" class="container">
      <div class="form-section">
        <form [formGroup]="userFormGroup" #user="ngForm">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row d-block">
                <div class="form-group">
                  <div class="form-pro-pics">
                    <div class="dis-table">
                      <div class="ver-middle">
                        <img *ngIf="!selectedUserImage" (click)="triggerUpload('user')" id="userPlaceHolderImage" src="../../../../../src/assets/img/insert-pic.png" class="rounded mx-auto d-block" alt="">
                        <img *ngIf="selectedUserImage" (click)="triggerUpload('user')" class="rounded mx-auto d-block logo" alt="" [src]="selectedUserImage">
                        <input #userImage type="file" class="d-none" (change)="changeFile($event, 'profile')"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row">
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Telephone</label>
                      <input class="form-control" formControlName="telephone"/>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-block">
                    <div class="form-group">
                      <label>Position</label>
                      <input class="form-control" formControlName="position"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>First Name</label>
                  <input class="form-control" formControlName="firstName" />
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" formControlName="email" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Last Name</label>
                  <input class="form-control" formControlName="lastName" />
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" formControlName="password" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Location</label>
                  <input class="form-control" formControlName="address" />
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="d-block">
                <div class="form-group">
                  <label>Tags</label>
                  <tag-input formControlName="tags"></tag-input>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 offset-lg-3 offset-md-3 offset-sm-3">
              <div class="d-block">
                <div class="form-group">
                  <button [disabled]="!user.valid" class="btn btn-block btn-dark m-t-b-20" (click)="createStaffMember(user.value)">Create User</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>