<aside class="left-panel-second">
  <div class="nav-menu">
    <div class="nav-menu-header">
      <div class="nav-menu-list">
        <ul class="list-unstyled">
          <li [routerLinkActive]="['active']">
            <a i18n="@@business" [routerLink]="['/', 'super-admin', 'business']">Business</a>
          </li>
          <li [routerLinkActive]="['active']">
            <a i18n="@@business" [routerLink]="['/', 'super-admin', 'users']">Users</a>
          </li>
          <li [routerLinkActive]="['active']">
            <a i18n="@@business" [routerLink]="['/', 'super-admin', 'expired']">Expired</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
<section class="content">
  <router-outlet></router-outlet>
</section>
<aside class="right-panel" *ngIf="user">
  <div class="header-profile">
    <div class="media">
      <img class="d-flex mr-3 rounded-circle r-s-h-pro-ic" src="../../../../assets/img/pro-pics.jpg"
           alt="Generic placeholder image">
      <div class="media-body">
        {{user.role}}
        <h5 class="d-block">{{user.firstName}} {{user.lastName}}
          <div ngbDropdown class="d-inline-block ic-settings pointer">
          <span class="text-right" id="dropdownBasic1" ngbDropdownToggle> <img src="../../../../assets/img/svg/ic-settings.svg"/> </span>
            <div class="dropdown-menu dropdown-right" aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" [routerLink]="['/', admin, 'profile']">Edit Profile</button>
              <button class="dropdown-item" (click)="logout()">Logout</button>
            </div>
          </div>
        </h5>
      </div>
    </div>
  </div>
</aside>